---
layout: mylayout.hbs
title: About Me
---

<h1>{{title}}</h1>  

<br>

<p>
    Hello, I'm Absar Syed. I'm a full stack developer of all kinds. I'm adaptable to any technology stacks 
    as I have a solid foundation of skill and knowledge. I'm always pushing my skillset to new heights 
    everyday to keep myself competitive. And if there's anything I don't know, then I will admit I don't know
    but I will know it tomorrow and I'll know better than anyone else.

    <br>
    <br>
    Things that interest me is programming and fullstack development. I love seeing a finished product running 
    as intended. That feeling of acomplishment is unlike anything.

</p>