---
layout: mylayout.hbs
title: Contact Me
---

<p>If you wish to reach out to me Email me here or visit me on LinkedIn</p>
<p>absar.h.syed@gmail.com</p>
<a class="btn btn-outline-primary" href="https://www.linkedin.com/in/absarsyedprogrammer/">My LinkedIn</a>
<br><br>
<p>And check out my other stuff on Github! </p>
<a class="btn btn-outline-success" href="https://github.com/absar-syed">My GitHub</a>