---
layout: mylayout.hbs
title: Mobile Dev Portfolio Site
---
<h1>{{title}}</h1>

<h4>Welcome!</h4>
<h6>
    Do browse through the portfolio page, have a look at my about me page and see what I'm about and contact me if any of this interests you.
    I already look forward to seeing you!
</h6>

<br>

<a href="/portfolio" class="btn btn-outline-secondary">Portfolio</a>
<a href="/about" class="btn btn-outline-secondary">About Me</a>
<a href="/contact" class="btn btn-outline-secondary">Contact Me</a>
